<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--  Bootstrap css link  -->
  <title th:text="${title}"></title>
</head>
<body>
<div class="container">
  <form action="add" method="post">
    <div class="mb-3">
      <label for="title">title</label>
      <input type="text" id="title" name="title" class="form-control" placeholder="Enter the title">
    </div>
    <div class="mb-3">
      <label for="text">text</label>
      <textarea id="text" name="text" class="form-control" placeholder="Enter the text" rows="10"></textarea>
    </div>
    <div class="mb-3">
      <label for="author">author</label>
      <input type="text" id="author" name="author" class="form-control" placeholder="Enter the author">
    </div>
    <div class="mb-3">
      <label for="views">views</label>
      <input type="number" id="views" name="views" class="form-control" placeholder="Enter the views">
    </div>
    <div class="mb-3">
      <label for="likes">likes</label>
      <input type="number" id="likes" name="likes" class="form-control" placeholder="Enter the likes">
    </div>
    <button type="submit" class="btn btn-outline-success mb-3">Create!</button>
  </form>
</div>
<div class="container">
  <a href="news/" class="btn btn-outline-primary">F*ck go back!</a>
</div>

<!--  Bootstrap script  -->
</body>
</html>