<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--  Bootstrap css link  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title th:text="${pageTitle}"></title>
</head>
<body>


<div th:insert="fragment/header :: defaultHeader"></div>
<div class="container" th:each="el : ${Chel}">
    <form th:action="'/chel/edit/' + ${el.id}" method="post">
        <div class="mb-3">
            <label for="name">Your name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Enter the your name" th:value="${el.name}">
        </div>
        <div class="mb-3">
            <label for="nickname">Your name</label>
            <input id="nickname" name="nickname" class="form-control" placeholder="Enter the your nickname" th:value="${el.nickname}">
        </div>
        <div class="mb-3">
            <label for="age">Your age</label>
            <input type="number" id="age" name="age" class="form-control" placeholder="Enter the your age" th:value="${el.age}">
        </div>
        <div class="mb-3">
            <label for="gender">Choose your gender</label>
            <select class="form-select" id="gender" name="gender" aria-label="Default select example" th:value="${el.gender}">
                <option value="Person">Person</option>
                <option value="Woman moment">Woman moment</option>
                <option value="Panzerhaubitze 2000">Panzerhaubitze 2000</option>
            </select>
        </div>
        <div>
            <label for="isZoomer">
                Zoomerok?
            </label>
            <input type="checkbox" name="isZoomer" id="isZoomer" th:checked="${el.isZoomer}"><br/>
        </div>
        <button type="submit" class="btn btn-outline-primary mb-3">Edit</button>
    </form>
</div>

<!--  Bootstrap script  -->
</body>
</html>