<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div th:fragment="defaultHeader">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Театр</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="genre/">Жанры</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="director/">Авторы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="hall-type/">Типы зала</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="theatre/">Театры</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="performance/">Представления</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="hall/">Залы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="actor/">Актеры</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="equipment/">Инвентарь</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="session/">Сеансы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="user/">Пользователи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="ticket/">Билеты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="coupon/">Купоны</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</html>