<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--  Bootstrap css link  -->

    <title th:text="${title}"></title>
</head>
<body>
<div class="container my-5">
    <div class="d-flex justify-content-center mb-3">
        <h1 class="fs-5" th:text="'Your result: ' + ${answer} "></h1>
    </div>
    <div class="container mb-3">
        <a class="btn btn-outline-success" href="/">Home</a>
        <a class="btn btn-outline-success" href="/calculator">Calculator</a>
    </div>
</div>

<!--  Bootstrap script  -->
</body>
</html>